<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
	<key>CFBundleExecutable</key>
		<string>raptor</string>
	<key>CFBundleGetInfoString</key>
		<string>Raptor Alpha for Mac OS X, Copyright RaptorTeam 2009. All rights reserved.</string>
	<key>CFBundleIconFile</key>
		<string>raptor.icns</string>
	<key>CFBundleIdentifier</key>
		<string>raptor.Raptor</string>
	<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
	<key>CFBundleName</key>
		<string>Raptor</string>
	<key>CFBundlePackageType</key>
		<string>APPL</string>
	<key>CFBundleShortVersionString</key>
		<string>Alpha</string>
	<key>CFBundleSignature</key>
		<string>?????</string>
	<key>CFBundleVersion</key>
		<string>Alpha</string>
</dict>

</plist>
